name: Compile HTSLReborn

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: "9.2.0"

      - name: Build mod
        env:
          GRADLE_OPTS: "-Xmx2g -XX:+UseParallelGC -XX:MaxMetaspaceSize=384m"
          _JAVA_OPTIONS: "-Xmx4g"
        run: ./gradlew :1.21.11:remapJar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: htslreborn-1.21.11
          path: ./versions/1.21.11/build/libs/htslreborn-*.jar